python-dotenv>=1.0.0
geopandas>=0.12.2
ipykernel>=6.21.2
jupyterlab>=3.6.1
matplotlib>=3.6.3
numpy>=1.24.2
pandas>=1.5.3
pyvin>=0.0.2
scikit-learn>=1.2.2
shapely>=2.0.1
sodapy>=2.2.0
tqdm>=4.65.0
ipywidgets>=8.0.6